<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Partition_Wizard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Partition_Wizard.My.MySettings>
            <setting name="prod_channel" serializeAs="String">
                <value>retail</value>
            </setting>
            <setting name="prod_debug" serializeAs="String">
                <value>0x01</value>
            </setting>
            <setting name="prod_ota" serializeAs="String">
                <value>0x00</value>
            </setting>
            <setting name="prod_typ" serializeAs="String">
                <value>app</value>
            </setting>
        </Partition_Wizard.My.MySettings>
    </userSettings>
</configuration>